<div class="flex-colum-container">
  <h1 mat-title>Books Store</h1>
  <p mat-caption *ngIf="currentState === 'BOOK_LIST_VIEW'">Total Books: 0</p>

  <div class="card-picture" *ngIf="canAddBook">
    <button mat-stroked-button color="accent" (click)="onAddNewBook()">
      Add new book
    </button>
  </div>

  <app-book-list
    [books]="books$"
    (onAddCart)="onAddCartItem($event)"
    (onViewDetail)="viewDetailBookById($event)"
    *ngIf="currentState === 'BOOK_LIST_VIEW'"
  >
  </app-book-list>

  <app-book-detail
    *ngIf="currentState === 'BOOK_DETAIL_VIEW'"
    [book]="selectedBook"
    (onBackToList)="onBackToList()"
    (onSaveBook)="onSaveBook($event)"
  >
  </app-book-detail>
</div>
