<div class="form-container">
  <div class="form-wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()" class="login-form">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Register User Form
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="register-form">
            <mat-form-field>
              <input  id="firstName"
                      matInput 
                      placeholder="First Name" 
                      formControlName="firstName"
                      />
              <mat-error *ngIf="registerForm.get('firstName').errors" >
                Please input your first name
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input  id="lastName"
                      matInput 
                      placeholder="Last Name" 
                      formControlName="lastName"
                      />
              <mat-error *ngIf="registerForm.get('lastName').errors" >
                Please input your last name
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input  id="email"
                      matInput 
                      placeholder="Email" 
                      value="" 
                      formControlName="email"
                      />
              <mat-error *ngIf="registerForm.get('email').errors" >
                Please input properly your email
              </mat-error>
            </mat-form-field>
          
            <mat-form-field>
              <input  id="password"
                      matInput 
                      placeholder="Password" 
                      type="password" 
                      formControlName="typedPassword" 
                      />
                <mat-error *ngIf="registerForm.get('typedPassword').errors" >
                  Please input your password
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input  id="retypedPassword"
                      matInput 
                      placeholder="Re-type Password" 
                      type="password" 
                      formControlName="retypedPassword"
                      [errorStateMatcher]="fieldsErrorMatcher"
                      />
              <mat-error *ngIf="registerForm.get('retypedPassword').errors">
                Please re-type password values to verify
              </mat-error>
              <mat-error *ngIf="registerForm.hasError('passwordDoesNotMatch')">
                Password does not match
              </mat-error>
            </mat-form-field>
          </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button type="submit" >Submit</button>
        <button mat-button (click)="navigateToLogin()" type="button">Back to Login</button>
      </mat-card-actions>
    </mat-card>
    </form>
  </div>
</div>
