<div class="container">
  <mat-card class="card-picture" *ngFor="let book of books$ | async" color="accent">
    <mat-card-header>
      <mat-card-title>
        <span title>{{book.title}}</span>
      </mat-card-title> 
    </mat-card-header>
    <img mat-card-image [src]="book.image" class="img">
    <mat-card-content caption>
      <p>
        Price: {{book.price | currency: 'USD'}}
      </p>
      <mat-divider></mat-divider>
      <p>
          Qty: {{ book.quantity }}
      </p>
      <mat-divider></mat-divider>
      <p>
        {{book.category}}
      </p>
      <mat-divider></mat-divider>
      <p>{{book.description}}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="viewDetailBookById(book.id)" >View Detail</button>
      <button mat-flat-button flexend>Add to cart</button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>