<div class="container">
  <div class="card-picture-container" *ngFor="let bookView of books$ | async">
    <mat-card class="card-picture">
      <div class="flex-row-container" (click)="doViewDetail(bookView)">
        <mat-card-header class="flex-column">
          <img mat-card-avatar [src]="bookView.book.image" />
          <mat-card-title>{{ bookView.book.title }}</mat-card-title>
          <mat-card-subtitle>title</mat-card-subtitle>
        </mat-card-header>
        <mat-card-header class="flex-column">
          <mat-card-title>{{
            bookView.book.price | currency: 'USD'
          }}</mat-card-title>
          <mat-card-subtitle>book price</mat-card-subtitle>
        </mat-card-header>
        <mat-card-header class="flex-column">
          <mat-card-title>{{ bookView.book.category }}</mat-card-title>
          <mat-card-subtitle>Category</mat-card-subtitle>
        </mat-card-header>
        <mat-card-header class="flex-last">
          <button
            mat-stroked-button
            color="accent"
            (click)="doAddCart($event, bookView)"
          >
            ADD TO CART
          </button>
        </mat-card-header>
      </div>
    </mat-card>
    <mat-card class="card-picture" *ngIf="bookView.isShowDetail">
      <div class="card-picture-container flex-center form-wrapper">
        <mat-card-header>
          <img mat-card-avatar [src]="bookView.book.image" />
          <mat-card-title>{{ bookView.book.title }}</mat-card-title>
          <mat-card-subtitle>{{ bookView.book.category }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="bookView.book.image" />
        <mat-card-content>
          <p>{{ bookView.book.description }}</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>
