/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #303030;
}

.full-expander {
  display: flex;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.card-picture {
  width: 100%;
  margin-top: 0.1%;
}

.card-picture-container {
  width: 95%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}

.img {
  width: 100%;
  margin-bottom: 18%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-page {
  border-radius: 0;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: fit-content;
  margin-top: 2%;
}

.form-wrapper {
  width: 40%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.full-screen {
  height: 100%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-tool-items {
  margin-left: 1%;
  margin-right: 1%;
}

.header-bar {
  float: right;
}

.data-processing {
  position: absolute;
  width: 100%;
  background-color: darkslateblue;
  opacity: 0.9;
  padding-top: 15%;
  z-index: 999;
  height: 100%;
  display: flex;
  justify-content: center;
}

.page-content {
  top: 0;
  margin: 0;
}

.grid-column {
  width: 20%;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-height: 10%;
}

.flex-column {
  width: 30%;
  flex-grow: 3;
}

.flex-4-column {
  width: 20%;
  flex-grow: 3;
}

.flex-5-column {
  width: 20% !important;
  flex-grow: 3;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-last {
  flex-grow: 1;
}

.flex-95-width {
  width: 100%;
}

@media (max-width: 500px) {
  body {
    font-size: x-small;
  }
  .app-header {
    width: fit-content;
  }
  .container {
    flex-direction: column;
  }

  .card-picture {
    width: fit-content;
    margin-left: 0.5%;
    margin-top: 0.5%;
  }

  .grid-column {
    width: 20%;
  }

  .flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 10%;
  }

  .flex-width {
    width: 95%;
  }

  .flex-column {
    min-width: 60%;
    flex-grow: 3;
  }

  .flex-last {
    flex-grow: 1;
  }

  .form-wrapper {
    width: 80%;
  }

  .flex-95-width {
    width: 89%;
  }

  section {
    flex: 1;
  }
}
